:root {
  --primary: #f44336;
}

.footerContainerOuter {
  background-color: var(--primary);
  bottom: 0;
}

.footerContainerInner {
  max-width: 90%;
  margin: 0 auto;
  padding: 1%;
  color: #fff;
  text-align: center;
}
